:root {
    /*color*/
    color-scheme: light;
    --si-color-primary: #38bdf8;
    --si-color-primary-light-3: rgb(121.3, 187.1, 255);
    --si-color-primary-light-5: rgb(159.5, 206.5, 255);
    --si-color-primary-light-7: rgb(197.7, 225.9, 255);
    --si-color-primary-light-8: rgb(216.8, 235.6, 255);
    --si-color-primary-light-9: rgb(235.9, 245.3, 255);
    --si-color-primary-dark-2: rgb(51.2, 126.4, 204);
    --si-color-success: #67c23a;
    --si-color-success-light-3: rgb(148.6, 212.3, 117.1);
    --si-color-success-light-5: rgb(179, 224.5, 156.5);
    --si-color-success-light-7: rgb(209.4, 236.7, 195.9);
    --si-color-success-light-8: rgb(224.6, 242.8, 215.6);
    --si-color-success-light-9: rgb(239.8, 248.9, 235.3);
    --si-color-success-dark-2: rgb(82.4, 155.2, 46.4);
    --si-color-warning: #e6a23c;
    --si-color-warning-light-3: rgb(237.5, 189.9, 118.5);
    --si-color-warning-light-5: rgb(242.5, 208.5, 157.5);
    --si-color-warning-light-7: rgb(247.5, 227.1, 196.5);
    --si-color-warning-light-8: rgb(250, 236.4, 216);
    --si-color-warning-light-9: rgb(252.5, 245.7, 235.5);
    --si-color-warning-dark-2: rgb(184, 129.6, 48);
    --si-color-danger: #f56c6c;
    --si-color-danger-light-3: rgb(248, 152.1, 152.1);
    --si-color-danger-light-5: rgb(250, 181.5, 181.5);
    --si-color-danger-light-7: rgb(252, 210.9, 210.9);
    --si-color-danger-light-8: rgb(253, 225.6, 225.6);
    --si-color-danger-light-9: rgb(254, 240.3, 240.3);
    --si-color-danger-dark-2: rgb(196, 86.4, 86.4);
    --si-color-error: #f56c6c;
    --si-color-error-light-3: rgb(248, 152.1, 152.1);
    --si-color-error-light-5: rgb(250, 181.5, 181.5);
    --si-color-error-light-7: rgb(252, 210.9, 210.9);
    --si-color-error-light-8: rgb(253, 225.6, 225.6);
    --si-color-error-light-9: rgb(254, 240.3, 240.3);
    --si-color-error-dark-2: rgb(196, 86.4, 86.4);
    --si-color-info: #909399;
    --si-color-info-light-3: rgb(177.3, 179.4, 183.6);
    --si-color-info-light-5: rgb(199.5, 201, 204);
    --si-color-info-light-7: rgb(221.7, 222.6, 224.4);
    --si-color-info-light-8: rgb(232.8, 233.4, 234.6);
    --si-color-info-light-9: rgb(243.9, 244.2, 244.8);
    --si-color-info-dark-2: rgb(115.2, 117.6, 122.4);
    /*bg*/
    --si-bg-color: #ffffff;
    --si-bg-color-page: #f2f3f5;
    --si-bg-color-overlay: #ffffff;
    /*text*/
    --si-text-color-primary: #303133;
    --si-text-color-regular: #606266;
    --si-text-color-secondary: #909399;
    --si-text-color-placeholder: #a8abb2;
    --si-text-color-disabled: #c0c4cc;
    /*border*/
    --si-border-color: #dcdfe6;
    --si-border-color-light: #e4e7ed;
    --si-border-color-lighter: #ebeef5;
    --si-border-color-extra-light: #f2f6fc;
    --si-border-color-dark: #d4d7de;
    --si-border-color-darker: #cdd0d6;
    --si-fill-color: #f0f2f5;
    --si-fill-color-light: #f5f7fa;
    --si-fill-color-lighter: #fafafa;
    --si-fill-color-extra-light: #fafcff;
    --si-fill-color-dark: #ebedf0;
    --si-fill-color-darker: #e6e8eb;
    --si-fill-color-blank: #ffffff;
    --si-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
    --si-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
    --si-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
    --si-box-shadow-dark:
      0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
    --si-disabled-bg-color: var(--si-fill-color-light);
    --si-disabled-text-color: var(--si-text-color-placeholder);
    --si-disabled-border-color: var(--si-border-color-light);
    --si-overlay-color: rgba(0, 0, 0, 0.8);
    --si-overlay-color-light: rgba(0, 0, 0, 0.7);
    --si-overlay-color-lighter: rgba(0, 0, 0, 0.5);
    --si-mask-color: rgba(255, 255, 255, 0.9);
    --si-mask-color-extra-light: rgba(255, 255, 255, 0.3);
    --si-border-width: 1px;
    --si-border-style: solid;
    --si-border-color-hover: var(--si-text-color-disabled);
    --si-border: var(--si-border-width) var(--si-border-style) var(--si-border-color);
    --si-svg-monochrome-grey: var(--si-border-color);
  }
  :root {
    --si-color-white: #ffffff;
    --si-color-black: #000000;
    --si-color-primary-rgb: 64, 158, 255;
    --si-color-success-rgb: 103, 194, 58;
    --si-color-warning-rgb: 230, 162, 60;
    --si-color-danger-rgb: 245, 108, 108;
    --si-color-error-rgb: 245, 108, 108;
    --si-color-info-rgb: 144, 147, 153;
    --si-font-size-extra-large: 20px;
    --si-font-size-large: 18px;
    --si-font-size-medium: 16px;
    --si-font-size-base: 14px;
    --si-font-size-small: 13px;
    --si-font-size-extra-small: 12px;
    --si-font-family:
      'Hsivetica Neue', Hsivetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    --si-font-weight-primary: 500;
    --si-font-line-height-primary: 24px;
    --si-index-normal: 1;
    --si-index-top: 1000;
    --si-index-popper: 2000;
    --si-border-radius-base: 4px;
    --si-border-radius-small: 2px;
    --si-border-radius-round: 20px;
    --si-border-radius-circle: 100%;
    --si-transition-duration: 0.3s;
    --si-transition-duration-fast: 0.2s;
    --si-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
    --si-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
    --si-transition-all: all var(--si-transition-duration) var(--si-transition-function-ease-in-out-bezier);
    --si-transition-fade: opacity var(--si-transition-duration) var(--si-transition-function-fast-bezier);
    --si-transition-md-fade:
      transform var(--si-transition-duration) var(--si-transition-function-fast-bezier),
      opacity var(--si-transition-duration) var(--si-transition-function-fast-bezier);
    --si-transition-fade-linear: opacity var(--si-transition-duration-fast) linear;
    --si-transition-border: border-color var(--si-transition-duration-fast)
      var(--si-transition-function-ease-in-out-bezier);
    --si-transition-box-shadow: box-shadow var(--si-transition-duration-fast)
      var(--si-transition-function-ease-in-out-bezier);
    --si-transition-color: color var(--si-transition-duration-fast) var(--si-transition-function-ease-in-out-bezier);
    --si-component-size-large: 40px;
    --si-component-size: 32px;
    --si-component-size-small: 24px;
  }
  