/**
    统一配色
**/
.si-switch {
  --si-switch-on-color: var(--si-color-primary);
  --si-switch-off-color: var(--si-border-color);
  --si-switch-on-border-color: var(--si-color-primary);
  --si-switch-off-border-color: var(--si-border-color);
}

.si-switch {
  /**
    使用了display: flex 属性后，父元素不设置宽度，宽度就是100%；不会被子元素宽度撑开；

    使用了display: inline-flex 属性后，父元素不设置宽度，宽度就是所有的子元素宽度之和，
                               会被子元素宽度撑开，实现宽度自适应
    **/
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  height: 32px;
  background-color: rgb(253, 253, 253);
  /* border: 1px solid #f08383;   */
  &.is-checked {
    .si-switch__core {
      background-color: var(--si-switch-on-color);
      border: 2px solid var(--si-switch-on-border-color);
      /**
            相对父级的百分比
        **/
      .si-switch__core-action {
        left: calc(100% - 17px);
      }
      .si-switch__core-inner {
        padding: 0 18px 0 4px;
      }
    }
  }
  /**
        选择框按钮样式
    **/
  .si-switch__input {
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0;
    margin: 0px;
    /** 疑问：& ~ 什么意思 **/
    &:focus-visible {
      /**
                ~ 同一个父代， 子代兄弟元素的后面一个
            **/
      & ~ .si-switch__core {
        outline: 2px solid var(--si-switch-on-color);
        /**
                    CSS 属性设置轮廓与元素边缘或边框之间的间距。
                **/
        outline-offset: 2px;
      }
    }
  }
}

/**
    元素 获取焦点 样式 tab
**/
/* .si-switch__input:focus {
    outline: 2px solid var(--si-switch-on-color);
} */
/**
    底部矩形框 样式
**/
.si-switch__core {
  min-width: 40px;
  position: relative;
  border-radius: 10px;
  background-color: var(--si-switch-off-color);
  border: 2px solid var(--si-switch-off-border-color);
  height: 20px;
  /**
        告诉浏览器 你想要设置的边框和内边距的值是包含在 width 内的
    **/
  box-sizing: border-box;
  /**
   // 轮廓为空

   **/
  outline: none;
  cursor: pointer;
  /**
    过渡
   **/
  transition:
    background-color var(--si-transition-duration),
    border var(--si-transition-duration);
  .si-switch__core-action {
    position: absolute;
    border-radius: 100%;
    left: 1px;
    background-color: var(--si-color-white);
    width: 16px;
    height: 16px;
    transition: all var(--si-transition-duration);
  }
  .si-switch__core-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px 0 18px;
    height: 16px;
    overflow: hidden;
    transition: all var(--si-transition-duration);
    .si-switch__core-inner-text {
      font-size: 14px;
      line-height: 16px;
      color: var(--si-color-white);
      /**
               超出省略
            **/
      text-overflow: ellipsis;
      /**
                不换行
            **/
      white-space: nowrap;
      user-select: none;
    }
  }
}
