.si-select {
    --si-select-item-hover-bg-color: var(--si-fill-color-light);
    --si-select-item-font-size: var(--si-font-size-base);
    --si-select-item-font-color: var(--si-text-color-regular);
    --si-select-item-selected-font-color: var(--si-color-primary);
    --si-select-item-disabled-font-color: var(--si-text-color-placeholder);
    --si-select-input-focus-border-color: var(--si-color-primary);
}
.si-select {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    .si-tooltip .si-tooltip__popper {
        padding: 0;
    }
    .si-input.is-focus .si-input__wrapper {
        box-shadow: 0 0 0 1px var(--si-select-input-focus-border-color) inset!important
    }
    .si-input {
        .header-angle {
            transition: transform var(--si-transition-duration);
            &.is-active {
                transform: rotate(180deg);
            }
        }
    }
    /** 输入框 **/
    .si-input__inner {
        cursor: pointer;
    }
    /** 远程 无数据 加载  **/
    .si-select_nodata, .si-select_loading {
        padding: 10px 0;
        margin: 0;
        text-align: center;
        color: var(--si-text-color-secondary);
        font-size: var(--si-select-font-size);
    }

    /** 菜单样式 **/
    .si-select__menu {
        list-style: none;
        margin: 6px 0;
        padding: 0;
        box-sizing: border-box;
    }
    /** 列表样式 **/
    .si-select__menu-item { 
        margin: 0;
        font-size: var(--si-select-item-font-size);
        padding: 0 32px 0 20px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--si-select-item-font-color);
        height: 34px;
        line-height: 34px;
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
          background-color: var(--si-select-item-hover-bg-color);
        }
        &.is-selected {
          color: var(--si-select-item-selected-font-color);
          font-weight: 700;    
        }
        &.is-highlighted {
            background-color: var(--si-select-item-hover-bg-color);
        }
        &.is-disabled {
          color: var(--si-select-item-disabled-font-color);
          cursor: not-allowed;
          &:hover {
            background-color: transparent;
          }
        }
    
      }
}